/*
    custom properties
*/

:root {
  --grid-width-height: 450px;
  --grid-background: rgb(242, 248, 248);
  --options-height: 40px;
  --options-width: 150px;
  --header-height: 80px;
}

html {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

/*
    reset
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
    page structure
*/

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

.grid {
  margin-bottom: 30px;
}

.grid-controls {
  position: relative;
  margin: auto;
  margin-bottom: 30px;
}

.controls {
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.page h1 {
  height: var(--header-height);
  line-height: var(--header-height);
  margin: auto;
}

/*
    typography and colors
*/

.page {
  background-color: rgb(209, 220, 231);
}

.grid {
  background-color: var(--grid-background);
}

button {
  font-family: inherit;
  color: #556b88;
  background-color: rgb(203, 240, 233);
  border: 0.2px solid rgb(146, 208, 219);
  border-radius: 5px;
}

h1 {
  font-size: 2.7rem;
  font-weight: 100;
  color: #5c728f;
}

output {
  color: #2e5257;
  font-weight: 300;
}

/*
    grid 
*/

.grid {
  width: min(var(--grid-width-height), 100vw);
  height: min(var(--grid-width-height), 100vh);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  box-shadow: 0 0 10px 2px rgb(180, 180, 180);
}

.grid-row {
  display: flex;
  flex: 1;
}

.grid-item {
  flex: 1;
}

/*
    different modes and colors and what not
*/

.color-picker {
  padding: 0;
  border: none;
}

.background-color-picker {
  display: none;
}

.mode:hover, .color-picker:hover, .clear:hover,
.set-background:hover, .size:hover {
  box-shadow: 0 0 5px 5px rgb(189, 197, 202);
}

.mode, .color-picker, .clear,
.set-background, .size {
  width: var(--options-width);
  height: var(--options-height);
}

.mode.selected {
  box-shadow: 0 0 5px 5px #87bdc4;
}

.range-container {
  position: relative;
  margin: auto;
}

.range-container output {
  position: absolute;
  width: var(--options-width);
  top: -15px;
  left: 0;
  text-align: center;
}

@media (width > 900px) {
  .controls {
    position: absolute;
    right: calc(50% + var(--grid-width-height) / 2 + 50px);
    top: 25px;
  }
}


footer {
  display: none;
}

@media (width > 500px) {
  footer {
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    justify-content: end;
    padding-right: 30px;
  }

  footer a {
    font-size: 0.9rem;
    color: var(--font-color);
    text-decoration: none;
  }

  .github-logo {
    margin-left: 15px;
    width: 40px;
    height: 40px;
  }

  .github-username {
    line-height: 40px;
  }
}


