/*
    custom properties
*/

:root {
  --grid-width-height: 450px;
  --grid-background: rgb(204, 229, 230);
  --options-height: 40px;
  --options-width: 150px;
  --header-height: 80px;
}

/*
    reset
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
    page structure
*/

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

.grid {
  margin-bottom: 30px;
}

.grid-controls {
  position: relative;
  margin: auto;
  margin-bottom: 30px;
}

.controls {
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

/*
    typography
*/

.page h1 {
  height: var(--header-height);
  line-height: var(--header-height);
  margin: auto;
}



/*
    grid 
*/

.grid {
  width: min(var(--grid-width-height), 100vw);
  height: min(var(--grid-width-height), 100vh);
  background-color: var(--grid-background);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  box-shadow: 0 0 10px 2px rgb(180, 180, 180);
}

.grid-row {
  display: flex;
  flex: 1;
}

.grid-item {
  flex: 1;
}

/*
    different modes and colors and what not
*/

.color-picker {
  padding: 0;
  border: none;
}

.background-color-picker {
  display: none;
}

.mode:hover, .color-picker:hover, .clear:hover,
.set-background:hover, .size:hover {
  box-shadow: 0 0 5px 5px rgb(219, 213, 213);
}

.mode, .color-picker, .clear,
.set-background, .size {
  width: var(--options-width);
  height: var(--options-height);
}

.mode.selected {
  box-shadow: 0 0 5px 5px #91ced6;
}

.range-container {
  position: relative;
  margin: auto;
}

.range-container output {
  position: absolute;
  width: var(--options-width);
  top: -15px;
  left: 0;
  text-align: center;
}

@media (width > 900px) {
  .controls {
    position: absolute;
    right: calc(50% + var(--grid-width-height) / 2 + 50px);
    top: 25px;
  }
}